// .mainContent {
//     background-image: url("../Images/HomelessMan.jpg");
//     background-size: cover;
//     background-attachment: fixed;
//     background-repeat: no-repeat;
//     height: 77%;

.teamHero {
  background-image: url("../Images/SmilingMan.jpg");
  background-size: cover;
  height: 155vh;

  @media @phone {
    height: 120vh;
  }
}

.theTeam {
  .devTitles();
}

.uzias {
  .rightFlex();

  .uziasImg {
    .teamSizing();
  }
}

.cam {
  .rightFlex();

  .camImg {
    .teamSizing();
  }
}

.mashima {
  .rightFlex();

  .mashimaImg {
    .teamSizing();
  }
}

.chris {
  .rightFlex();

  .chrisImg {
    .teamSizing();
  }
}

.camTitle {
  .devTitles();
}

.chrisTitle {
  .devTitles();
}

.mashimaTitle {
  .devTitles();
}

.uziasTitle {
  .devTitles();
}
